div.row.Name {
    background-color: white;
}
div.row.Age {
    background-color: white;
}
h1.Info {
    background-color: white;
}
form.Goals {
    background-color: #30415D;
    width: 60%;
    margin: 0 auto;
}
div.Goals.black-text.card {
    background-color: white;
    width: 60%;
    margin: 0 auto;
}
div.col.s3 {
    font-size: 12px;
}
div.Goals.black-text.card {
    background-color: white !important;
}
div.row.Help {
    font-size: 15px;

}
 h4 {
     text-align: center;
 }

 button.btn.waves-effect.waves-light.goals {
    background-color: #D3B53D;
    color: #30415D;
 }

 a.btn.waves-effect.waves-light {
    background-color: #D3B53D;
    color: #30415D;
 }