body {
    background-color: #30415D;
}
.collection-header  {
    background-color: #ff4040 !important;
}
.collection-item {
    background-color: #ff4040 !important;
}
.collection {
    background-color: #ff4040 !important;
}
span.card-title.grey-text.text-darken-4 {
color: #EFD469 !important;
}
span.card-title.-text.text-darken-4 {
	color: #EFD469 !important;
	}
h1.Fitfinder {
    background-color: #30415D;
    color: #D3B53D !important
}

div.card-content.white-text{
    background-color: #30415D !important;
}

div.card{
    background-color: #30415D !important;
}
p {
    color: black;
}
div.card-content.white-text{
    color: #F2F3F4 !important
}

.parallax-section {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	color: #fff;
}
.parallax-content {
	padding: 120px 0 105px 0;
	background: #000;
	background: rgba(0, 0, 0, .6);
}
.parallax-content h2 {
	font-size: 36px;
	font-size: 3.6rem;
	margin: 65px 0 80px 0;
}